body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.jogoCompleto {
    margin: 0;
    padding: 0;
    width: 80%;
}

p {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.linha1 {
    height: 150px;
}

.linha1 img,
.linha2 img,
.linha4 img {
    width: 110px;
}

.linha3 img {
    width: 110px;

}

.mesa-manilha {
    top: 450px;
    right: 100px;
    position: absolute;
}

.mesa-manilha img {
    width: 100px;
    border: 1px dashed;
    /* transform: rotate(30deg); */
}

.mesa-linhas img {
    width: 70px;
}

.mesa-linhas img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.linha1-mesa,
.linha3-mesa {
    display: flex;
    justify-content: center;
}

.linha2-mesa {
    display: flex;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 20%;
    align-items: center;
    margin-bottom: 5px;
}

.pontuacoes {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 80%;
    align-items: center;
    flex-direction: column;
}

.nomeJogo {
    width: 50%;
}

fieldset {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#jogador2,
#jogador4 {
    display: flex;
    width: 12%;
    transform: rotate(90deg);
    align-items: center;
    justify-content: center;
    align-self: center;
}

#jogador1,
#jogador3 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.mesa {
    background-color: rgba(23, 78, 37, 0.987);
    width: 400px;
    height: 290px;
    margin: 5px 0;
    /* height: 50%; */
    display: flex;
}

.mesa-linhas {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
}

.mesa .linha1,
.mesa .linha2,
.mesa .linha3 {
    width: 100%;
}

.linha1,
.linha3 {
    display: flex;
    justify-content: center;
    /* height: 20%; */
}

.linha2 {
    display: flex;
    justify-content: center;
}
